.product-content {
  display: flex;
}

.product__image,
.product__meta {
  flex-basis: 50%;
}

.product__meta {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.product__title {
  color: var(--black);
  font-size: 2.4em;
  line-height: 1.2;
  text-transform: uppercase;
}

.product__price-old {
  color: var(--red);
}

.product__add-button {
  border: 0;
  background-color: var(--black);
  border-radius: 40px;
  cursor: pointer;
  color: var(--white);
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  gap: .5em;
  align-items: center;
  letter-spacing: .1em;
  padding: .8em 2.5em;
  text-transform: uppercase;
  transition: opacity 150ms ease-in-out;
  -webkit-transition: opacity 150ms ease-in-out;
  -moz-transition: opacity 150ms ease-in-out;
  -ms-transition: opacity 150ms ease-in-out;
  -o-transition: opacity 150ms ease-in-out;
}

.product__add-button:hover {
  opacity: .8;
}

.product__description {
  color: var(--light-black);
  line-height: 1.6em;
}