.review-card {
    border-top: 1px solid var(--light-gray);
    display: grid;
    gap: 1em;
    grid-template-columns: 240px 1fr;
    padding: 2em;
}

.review-card:last-child {
    border-bottom: 1px solid var(--light-gray);
}

.reviewer-content {
    display: flex;
    flex-direction: column;
}

.review-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.stars-container {
    display: flex;
    gap: .2em;
}

.review__title {
    color: var(--black);
    font-family: var(--heading-font), var(--fallback-font);
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.4;
}

.review__content {
    line-height: 1.8;
}

@media all and (max-width: var(--small-screen)) {
    .review-card {
        grid-template-columns: 1fr;
    }
}